# Binaries
*.exe
*.dll
*.so
*.dylib
*.test

# Output of build tools
/build/
/bin/

# Dependency directories
/vendor/

# Go modules
/go.sum

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Coverage
coverage.out

# Ignore local env files
.env
.env.*

.envrc

logs/*.log
!logs/.gitkeep
